.projects-wrapper {
   color: white;
   width: 1000px;
   margin: 0px auto;
   padding: 20px;
}

.active-project {
   position: relative;
   opacity: 0;
   display: flex;
   justify-content: flex-start;
   transform: translate(0px, -20px);
   transition: opacity .7s, transform .7s;
}

.show-active {
   opacity: 1;
   transform: translate(0px , 0px);
   transition: opacity .7s, transform .7s;
}
.img-wrap {
   margin-right: 20px;
}

.img-wrap img {
   width: 220px;
}

.active-project .desc {
   text-align: left;
   font-size: 18px;
   overflow: hidden;
}

.show-active {
   opacity: 1;
}

.project-list {
   opacity: 0;
   display: flex;
   justify-content: space-between;
   margin-top: 100px;
   transform: translate(0px, 40px);
}

.show-list {
   opacity: 1;
   transform: translate(0px , 0px);
   transition: opacity .7s, transform .7s;
}

.each-project img{
   opacity: .7;
   border: 3px solid gray;
}

.each-active img {
   opacity: 1;
   border: 3px solid orange;
}
.each-project img {
   width: 120px;
}

.desc .buttons {
   display: flex;
   justify-content: left;
}

.buttons button {
   font-size: 20px;
   margin-right: 20px;
   padding: 5px 10px;
   border-radius: 5px;
}

.description {
    opacity: 0;
    color: white;
    text-align: left;
    width: 970px;
    margin: 0 auto;
    transform: translate(0px, -40px);
    font-size: 20px;
}

.show-desc {
    opacity: 1;
    transform: translate(0px , 0px);
    transition-delay: 2s;
    transition: opacity .7s, transform .7s;
}

/* MOBILE LAYOUT */
.mb-project {
   padding: 30px 0px;
   color: white;
}

.mb-project .name {
   font-size: 22px;
}
.mb-project .desc {
   padding: 15px;
}
.mb-project img {
   width: 50vw;
   margin: 0px auto;
}
.mb-project button {
   font-size: 19px;
   margin: 5px;
}