/* MEDIA QUERY */
@media screen and (max-width: 1500px) {	
	/* Button */
	.buttons {
		width: 800px;
	}

	/* Intro */
	.image {
		width: 130px !important;
		height: 130px !important;
	}
	.my-name {
		font-size: 45px !important;
	}
	.my-job {
		font-size: 35px !important;
	}
	.show-header {
      height: 350px !important;
	}

	/* Skills */
	.skills-con .skill {
		width: 600px !important;
		margin: 5px auto !important;
   }
   .skill .name {
      font-size: 15px !important;
   }
   .skill .rating {
      height: 13px !important;
   }
   .skill .percent {
		font-size: 12px !important;
	}

   /* Project */
   .projects-wrapper {
      width: 900px !important;
   }
   .each-project img {
      width: 120px !important;
   }

   .img-wrap img {
      width: 210px !important;
   }

   .active-project .desc {
      font-size: 16px !important;
   }

   .project-list {
      margin-top: 70px !important;
   }
}

@media screen and (max-width: 1300px) {	
	/* Button */
	.buttons {
		width: 800px;
	}

	/* Intro */
	.image {
		width: 130px !important;
		height: 130px !important;
	}
	.my-name {
		font-size: 45px !important;
	}
	.my-job {
		font-size: 35px !important;
	}
	.show-header {
      height: 350px !important;
	}

	/* Skills */
	.skills-con .skill {
		width: 600px !important;
		margin: 5px auto !important;
   }
   .skill .name {
      font-size: 15px !important;
   }
   .skill .rating {
      height: 13px !important;
   }
   .skill .percent {
		font-size: 12px !important;
	}

   /* Project */
	.projects-wrapper {
		width: 750px !important;
	}
	.each-project img {
		width: 90px !important;
	}

	.img-wrap img {
		width: 170px !important;
	}

	.active-project .desc {
		font-size: 14px !important;
	}

	.project-list {
		margin-top: 40px !important;
	}

	.buttons button {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 1024px) {	
	/* Button */
	.buttons {
		width: 650px;
   }
   
   .buttons .button {
      margin: 20px 20px 30px 20px;
      font-size: 17px;
   }

	/* Intro */
	.image {
		width: 130px !important;
		height: 130px !important;
	}
	.my-name {
		font-size: 45px !important;
	}
	.my-job {
		font-size: 35px !important;
	}
	.show-header {
      height: 350px !important;
	}

	/* Skills */
	.skills-con .skill {
		width: 500px !important;
		margin: 01px auto !important;
   }
   .skill .name {
      font-size: 14px !important;
   }
   .skill .rating {
      height: 12px !important;
   }
   .skill .percent {
		font-size: 12px !important;
	}

	   /* Project */
      .projects-wrapper {
         width: 750px !important;
      }
      .each-project img {
         width: 80px !important;
      }
   
      .img-wrap img {
         width: 170px !important;
      }
   
      .active-project .desc {
         font-size: 14px !important;
      }
   
      .project-list {
         margin-top: 40px !important;
      }

      .buttons button {
         font-size: 15px !important;
      }
   
}
  
@media screen and (max-width: 770px) {
   /* Button  */
   .buttons {
		width: 700px;
   }

   .buttons .button {
      margin: 15px 18px 25px 18px !important;
      font-size: 25px !important;
      padding: 15px !important;
	}

   /* Intro */
   .image {
   	width: 120px !important;
      height: 120px !important;
   }
	.my-name {
      font-size: 40px !important;
   }
   .my-job {
      font-size: 30px !important;
   }
   .show-header {
      margin-bottom: 10px !important;
	}
	
	/* Skills */
	.skills-con .skill {
		width: 500px !important;
		margin: 0px auto !important;
   }
   .skill .name {
      font-size: 15px !important;
   }
   .skill .rating {
      height: 10px !important;
   }
	/* Contact */
	
	form {
		font-size: 17px !important;
		width: 500px !important;
	}

	form input {
		font-size: 20px !important;
	}
	form textarea {
		font-size: 20px !important;
	}
	form button {
		font-size: 17px !important;
	}

   /* Project */
   .projects-wrapper {
      width: 700px !important;
   }
   .each-project img {
      width: 100px !important;
   }

   .img-wrap img {
      width: 170px !important;
   }

   .active-project .desc {
      font-size: 14px !important;
   }

   .project-list {
      margin-top: 40px !important;
   }

   .buttons button {
      font-size: 19px !important;
      padding: 5px 10px !important;
      border-radius: 5px !important;
   }
   .project-name {
      font-size: 16px;
   }

}
  
@media screen and (max-width: 740px) {
	/* Button  */
	.buttons {
      width: 620px;
	}
	.buttons .button {
      margin: 15px 14px 25px 14px !important;
      font-size: 26px !important;
	}

	/* Intro */
	.header .my-name {
		font-size: 35px !important;
	}
	.header .my-job {
		font-size: 30px !important;
	}
	.header.show-header {
		margin-bottom: 0px;
		height: 360px;
	}

	/* Skills */
	.skills-con .skill {
		width: 500px !important;
	}

	/* Contact */

	form {
		width: 450px !important;
	}
   form input {
		font-size: 20px !important;
   }
   form textarea {
      font-size: 20px !important;
   }

   
   .form-title {
      margin-bottom: 30px;
   }

	/* Project */
	.projects-wrapper {
      width: 600px !important;
   }
   .each-project img {
      width: 80px !important;
   }

   .img-wrap img {
      width: 170px !important;
   }

   .active-project .desc {
      font-size: 14px !important;
   }

   .project-list {
      margin-top: 40px !important;
   }
   .project-name {
      font-size: 13px;
   }

   .buttons button {
      font-size: 15px !important;
   }
}
@media screen and (max-width: 640px) {
	/* Button */
	.buttons {
      width: 530px;
	}
	.buttons .button {
		margin: 15px 10px 25px 10px !important;
		font-size: 22px !important;
	}

	/* Intro */
	.header .image {
		width: 100px !important;
		height: 100px !important;
	}
	.header .my-name {
		font-size: 30px !important;
	}
	.header .my-job {
		font-size: 25px !important;
	}
	.header.show-header {
		height: 330px;
	}

	/* Skills */
	.skills-con .skill {
		width: 400px !important;
		margin: 0px auto !important;
   }
   .skill .name {
      font-size: 13px !important;
   }
   .skill .rating {
      height: 10px !important;
   }
   
   .skill .percent {
		font-size: 10px !important;
	}

	/* Contact */

	form {
		width: 390px !important;
	}
	form input {
		font-size: 19px !important;
   }
   
   .form-title {
      margin-bottom: 30px;
   }

	/* Project */
	.project-list {
		width: 500px !important;
	}
	.project-list .project {
		width: 170px;
		height: 180px;
	}
	.tech-used span {
		font-size: 18px !important;
	}
}
  
@media screen and (max-width: 540px) {
	/* Button  */
	.buttons {
      width: 400px;
	}
	.buttons .button {
		margin: 5px 5px 20px 5px !important;
      font-size: 19px !important;
      padding: 10px !important;
	}

	/* Intro */
	.header .image {
		width: 90px !important;
		height: 90px !important;
	}
	.header .my-name {
		font-size: 25px !important;
	}
	.header .my-job {
		font-size: 20px !important;
	}

	.header.show-header {
		height: 300px;
	}

	/* Skills */
	.skills-con .skill {
		width: 300px !important;
		margin: 0px auto !important;
	}

   .skill .name {
      font-size: 13px !important;
   }
   .skill .rating {
      height: 8px !important;
   }
   
   .skill .percent {
		font-size: 10px !important;
	}

	/* Contact */

	form {
		width: 320px !important;
	}

	form textarea {
		height: 140px !important;
	};

		/* Project */
	.project-list {
		width: 500px !important;
	}
	.project-list .project {
		width: 170px;
		height: 190px;
	}

	/* Project */
	.project-list {
		width: 270px !important;
		/* flex-wrap: wrap; */
      flex-direction: column;
      padding-top: 30px;
	}
	.project-list .project {
		width: 230px;
		height: 300px;
		margin: 10px auto;
	}
	.tech-used span {
		font-size: 30px !important;
	}
}

@media screen and (max-width: 427px) {
   /* Button */
   .buttons {
     width: 350px;
   }
   .buttons .button {
      margin: 0px 3px 14px 3px !important;
      font-size: 16px !important;
      padding: 10px !important;
   }

   /* Intro */
   .header .image {
      
   }
   .header .my-name {
      font-size: 19px !important;
      margin-top: -10px !important

   }
   .header .my-job {
      font-size: 17px !important;
	}
	
	/* Skills */
	.skills-con .skill {
		width: 250px !important;
		margin: 0px auto !important;
	}
	.skill .name {
		font-size: 13px !important;
	}

	.skill .rating {
		height: 10px !important;
	}

	.skill .percent {
		font-size: 10px !important;
	}

	/* Contact */

	form {
		width: 280px !important;
	}
	form .label {
		margin-top: 5px !important;
   }
   
   form textarea {
      height: 140px !important;
   }

   .form-title {
      margin-bottom: 20px;
   }

   .form-button {
      padding: 10px 15px !important;
   }


	/* Project */
	.project-list {
		width: 250px !important;
	}
	.project-list .project {
		width: 220px;
		height: 260px;
		margin: 10px auto;
	}
	.tech-used span {
		font-size: 25px !important;
	}
}

